PORT=3000
# DATABASE_URL_DEV=postgresql://opaline:youkai@localhost:5433/patchydb
DATABASE_URL=postgresql://opaline:youkai@localhost:5433/patchydb
# DATABASE_URL=postgresql://opaline:youkai@db/patchydb
# DATABASE_URL_PROD=postgresql://opaline:youkai@db:5433/patchydb
JWT_SECRET=somerandomsecretbrowtfadvaksnlvasdcsalksdjlcj
NODE_ENV=development
FRONTEND_URL=http://localhost:5500